.three-columns {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   width: 1000px;
   margin-top: 20px;
   margin-bottom: 20px;
}

.nav-contact-us {
   border: 0px;
   font-size: 14px;
   font-weight: 500;
   border-radius: 7px;
   color: #000;
   text-decoration: none;
   display: inline-block;
   padding: 10px 20px;
   background: rgb(129, 121, 1);
   background: linear-gradient(42deg, rgba(129, 121, 1, 1) 0%, rgba(223, 192, 63, 1) 35%, rgba(117, 110, 1, 1) 65%, rgba(223, 192, 63, 1) 100%);
   outline: none;
}

.slider-about {
   background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/mahmud.jpg) #141b2d;
   background-size: contain 100%;
   background-repeat: no-repeat;
   background-position: right top;

}

.slider-services {
   height: 600px;
   min-height: 600px;
   background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/slider2.jpg);
   background-size: cover;
   background-position: center;
}

.slider-contact {
   height: 300px;
   min-height: 300px;
   background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/contact.png);
   background-size: cover;
   background-position: center;
}

.slider-title-services {
   font-weight: 600;
   font-size: 36px;
   line-height: 1.3em;
   text-align: left;
   color: #fff;
   padding-bottom: 10px;

}

.slider-text-services {
   text-align: left;
   font-size: 22px;
   line-height: 1.5em;
   color: #fff;
}

.slider-link-contact {
   text-decoration: none;
   color: #fff;
}

.search-button {
   padding: 10px 50px;
   font-size: 20px;
}

.flat-media {
   font-size: 28px;
   color: rgb(211, 201, 64);
   line-height: 1.3em;
   font-style: italic;
   font-weight: 600;
   margin-bottom: 10px;
}

.slider-text--ceo {
   width: 100%;
   font-size: 12px;
   font-style: italic;
   padding-bottom: 0px;
   margin-bottom: 0px;
}


.media-image-mini {
   width: 100%;
   display: none;
}

.nav-contact-us:hover {
   color: #000;
}

.complexes {
   background: #141b2d;
}

.complexes-wrap {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 30px;
}

.complex {
   background-color: #fff;
   width: 100%;
   max-width: 1200px;
   min-height: 400px;
   display: flex;
   align-items: center;

}

.complex__image {
   height: 400px;
   width: 100%;
   object-fit: cover;
}

.complex__image__div {
   width: 35%;
}

.complex__content {
   width: 65%;
   height: 400px;
   padding: 20px 20px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.complex__content__title {
   font-size: 30px;
   font-weight: 500;
}

.complex__content__text {
   font-size: 20px;
   margin-top: 20px;
   flex-grow: 1;
}


.complex__content__link {
   font-size: 18px;
   font-weight: 500;
   border-radius: 7px;
   color: #000;
   text-decoration: none;
   display: inline-block;
   padding: 15px 40px;
   background: rgb(129, 121, 1);
   background: linear-gradient(42deg, rgba(129, 121, 1, 1) 0%, rgba(223, 192, 63, 1) 35%, rgba(117, 110, 1, 1) 65%, rgba(223, 192, 63, 1) 100%);
}

.complex__content__link:hover {
   color: #000;
}


.flat-title {
   font-size: 60px;
   font-weight: 500;
   color: #fff;
}

.flat-under-title {
   font-size: 30px;
   font-style: italic;
   color: #fff;
   font-weight: 500;
}

.flat-price {
   margin-top: 30px;
   font-size: 60px;
   color: rgb(211, 201, 64);
   line-height: 1em;
   margin-bottom: 60px;
}

.flat-price--mini {
   font-size: 25px;
   color: rgb(211, 201, 64);
   line-height: 1em;
   font-style: italic;
   margin-bottom: 70px;
}

.flat-param {
   font-size: 30px;
   color: #fff;
   line-height: 1.9em;
}

.flat-index--media {
   font-size: 25px;
   color: #141b2d;
   text-align: right;
   line-height: 1.3em;
   font-style: italic;
   margin-bottom: 10px;
   padding: 5px 20px 5px 5px;
}

.flat-2-wrap {
   top: 0;
   left: 0;
   position: absolute;
   z-index: 3;
   width: 100%;
   height: 100%;
   justify-content: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding: 10px 10px;
   font-weight: 500;
   font-size: 18px;
   line-height: 1.4em;
   color: #ffffff;
}

.flat-2-bg {
   height: 100%;
   width: 100%;

   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   filter: brightness(30%);
   z-index: 2;
}

.flat-pros-ul {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px 45px;
}

.flat-pros-ul li {
   display: block;
   text-align: left;
   list-style: inside;

}

.flat-pros-ul li:before {
   content: "• ";
}

/* The Modal (background) */
.my-modal {
   display: none;
   /* Hidden by default */
   position: fixed;
   /* Stay in place */
   z-index: 1;
   /* Sit on top */
   padding-top: 100px;
   /* Location of the box */
   left: 0;
   top: 0;
   width: 100%;
   /* Full width */
   height: 100%;
   /* Full height */
   overflow: auto;
   /* Enable scroll if needed */
   background-color: rgb(0, 0, 0);
   /* Fallback color */
   background-color: rgba(0, 0, 0, 0.6);
   /* Black w/ opacity */
   justify-content: center;
   align-items: center;
}

/* Modal Content */
.my-modal-content {
   position: relative;
   background-color: #141b2d;
   margin: auto;
   padding: 0;
   width: 80%;
   max-width: 500px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   -webkit-animation-name: animatetop;
   -webkit-animation-duration: 0.4s;
   animation-name: animatetop;
   animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
   from {
      top: -300px;
      opacity: 0
   }

   to {
      top: 0;
      opacity: 1
   }
}

@keyframes animatetop {
   from {
      top: -300px;
      opacity: 0
   }

   to {
      top: 0;
      opacity: 1
   }
}

/* The Close Button */
.my-close {
   color: white;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.my-close:hover,
.my-close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
}

.my-modal-header {
   padding: 2px 16px;
   color: white;
   display: flex;
   justify-content: space-between;
}

.my-modal-body {
   padding: 0px 30px 20px;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.my-modal-title {
   font-weight: 500;
   font-size: 20px;
   text-align: center;
}

.my-modal-form {
   margin-top: 0px;
   width: 100%;
   font-size: 16px;

}

.my-modal-input {
   margin-top: 20px;
   padding: 10px 10px;
   width: 100%;
   outline: none;
}

.my-modal-textarea {
   padding: 10px 10px;
   margin-top: 20px;
   width: 100%;
   color: #000;
   outline: none;
}

.my-modal-submit {
   padding-top: 20px;
   width: 100%;
   display: flex;
   justify-content: center;
}


.about-1-news {
   color: #fff;
   width: 100%;
   font-size: 20px;
   line-height: 1.5em;
   padding: 0px 20px;
}

.about-1-news p {
   margin-bottom: 10px;
}

.image-news {
   width: 100%;
   display: inline;
   float: right;
}

.about-1-news-link {
   position: relative;
   width: 50%;
   display: inline;
   float: right;
   margin: 10px;
}

.about-1-image-desc {
   position: absolute;
   bottom: 0px;
   width: 100%;
   height: 80px;
   padding: 5px 15px;
   background-color: rgba(0, 0, 0, 0.302);
   color: #fff;
}


.slider-text--news {
   text-align: left;
   width: 70%;
   font-size: 20px;
   line-height: 1.5em;
   color: #fff;
   margin-top: 50px;
   margin-bottom: 30px;
}

.slider-text--news p {
   margin-bottom: 10px;
}

@media(min-width: 768px) {
   .isreverse {
      flex-direction: row-reverse;
   }
}

@media (min-width: 768px) and (max-width: 1366px) {

   .complex__content__title {
      font-size: 24px;
      font-weight: 500;
   }

   .complex__content__text {
      font-size: 17px;
   }


   .slider-title-services {

      font-size: 30px;
   }

   .slider-text-services {

      font-size: 16px;
   }

   .flat-pros-ul {
      grid-template-columns: repeat(3, 1fr);
      gap: 15px 40px;
   }

   .flat-title {
      font-size: 50px;
   }

   .about-1-news {
      font-size: 17px;
      padding: 0px 10px;
   }


   .about-1-wrap-news {
      margin: 0px;
   }

   .about-1-image-desc {

      height: 60px;
      padding: 5px 5px;
      background-color: rgba(0, 0, 0, 0.403);
      color: #fff;
      font-size: 14px;
      line-height: 1.4em;
   }

   .slider-text--news {

      font-size: 18px;
      margin-top: 40px;
      margin-bottom: 20px;
   }

   .flat-media {
      font-size: 24px;
      margin-bottom: 20px;
   }

   .flat-index--media {
      font-size: 20px;
   }


}


@media (max-width: 767px) {

   .slider-about {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/mahmud-mini.jpg) #141b2d;
      background-size: contain 100%;
      background-repeat: no-repeat;
      margin-top: 70px;
      background-position: right top;
      min-height: auto;
   }

   .slider-title-services {

      font-size: 30px;
   }

   .slider-text-services {

      font-size: 16px;
   }

   .complexes-wrap {
      padding: 90px 20px 20px 20px;
   }

   .complex {
      flex-direction: column;
   }

   .complex__image__div {
      width: 100%;
   }

   .complex__content {
      width: 100%;
      height: auto;
      padding: 10px 20px;
      align-items: center;
   }

   .complex__content__title {
      font-size: 20px;
   }

   .complex__content__text {
      font-size: 14px;
      width: 100%;
   }

   .complex__content__link {
      margin-top: 18px;
      font-size: 14px;
      font-weight: 500;
      padding: 15px 20px;
   }

   .flat-title {
      font-size: 32px;
      margin-top: 40px;
   }

   .flat-under-title {
      font-size: 16px;
   }

   .flat-index--media {
      font-size: 16px;
   }

   .flat-price {
      margin-top: 30px;
      font-size: 50px;
   }

   .flat-price--mini {
      font-size: 18px;

   }

   .flat-param {
      font-size: 16px;
      margin-bottom: 5px;
   }

   .flat-pros-ul {
      grid-template-columns: repeat(2, 1fr);
      gap: 3px 20px;
      font-size: 14px;
      line-height: 1.6em;
   }

   .slider-text--news {
      width: 100%;
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 10px;
   }

   .about-1-wrap-news {
      margin: 0px;
   }

   .about-1-news {
      font-size: 15px;
      padding: 0px 0px;
   }

   .about-1-news-link {
      position: relative;
      width: 100%;
      display: inline;
      float: right;
      margin: 0px 0px 10px;
   }

   .flat-media {
      font-size: 18px;
      margin-bottom: 15px;
   }


   .media-image-mini {
      display: block;
      margin-bottom: 10px;
      height: 350px;
      object-fit: cover;
   }

}

.result-img {
   object-fit: cover;
   height: 200px;
   width: 100%;
}

/* whatsapp */

.dropdown-whatsapp {
   position: relative;
}


.dropdown-content-whatsapp {
   display: none;
   position: absolute;
   left: -90px;
   background-color: #f1f1f1;
   width: 200px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 6;
}

.dropdown-content-whatsapp a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: flex;
}

.dropdown-content-whatsapp p {
   margin-left: 10px;
}


.dropdown-content-whatsapp a:hover {
   background-color: #ddd;
}

.dropdown-whatsapp:hover .dropdown-content-whatsapp {
   display: block;
}


/* whatsapp */

.dropdown-telegram {
   position: relative;
   z-index: 7;
}


.dropdown-content-telegram {
   display: none;
   position: absolute;
   left: -90px;
   background-color: #f1f1f1;
   width: 200px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 6;
}

.dropdown-content-telegram a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: flex;
}

.dropdown-content-telegram p {
   margin-left: 10px;
}


.dropdown-content-telegram a:hover {
   background-color: #ddd;
}

.dropdown-telegram:hover .dropdown-content-telegram {
   display: block;
}

.mobile-socials-mini {
   height: 20px;
}

legend {
   float: none;
   width: auto;
   padding: 0;
   margin-bottom: 0;
   font-size: 10px;
   line-height: inherit;
}